version 5.176.3

# All packages come from the public NuGet Gallery
source https://api.nuget.org/v3/index.json

# This is our list of packages.
# If you know what you're doing, manually add an entry.
# If you don't, use "paket.exe add nuget <package> --no-install".
# Use ".paket\paket.exe update" to update paket.lock.
# Use ".paket\paket.exe restore" to update the package cache above
#
# DO NOT UPDATE paket.lock BY HAND!
#

nuget NuGet.CommandLine

group Roslyn
	source https://api.nuget.org/v3/index.json
	storage: none
	strategy: min
	nuget Microsoft.CodeAnalysis 2.0

group Analyzers
	source https://api.nuget.org/v3/index.json
	storage: none
	nuget StyleCop.Analyzers
	nuget Microsoft.CodeAnalysis.FxCopAnalyzers

group Test
	source https://api.nuget.org/v3/index.json
	storage: none
	nuget Appveyor.TestLogger
	nuget Microsoft.CodeAnalysis 2.8
	nuget Microsoft.Composition >= 1.0.31
	nuget Microsoft.NET.Test.Sdk
	nuget NUnit
	nuget NUnit3TestAdapter >= 3.8
