<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Test Assembly Rules" ToolsVersion="14.0">
	<Include Path="CodeAnalysis.ruleset" Action="Default" />

	<Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
		<Rule Id="CA1031" Action="None" />
		<Rule Id="CA1305" Action="None" />
		<Rule Id="CA1307" Action="None" />
		<Rule Id="CA1812" Action="None" />
		<Rule Id="CA1815" Action="None" />
		<Rule Id="CA1822" Action="None" />
		<Rule Id="CA2000" Action="None" />
		<Rule Id="CA2202" Action="None" />
	</Rules>
</RuleSet>